<div class="card my-5">
  <div class="card-body">
    <div class="container">
      <div class="row align-items-start">
        <h1>
          <img src="assets/flags/{{wordLang}}.jpg" alt="language" style="width: 20px">
          {{ word.word }}
          <a mat-button (click)="playWord(word.word)">
            <mat-icon>volume_up</mat-icon>
          </a>
          <a mat-button (click)="delete(word.id)">
            <mat-icon>delete</mat-icon>
          </a>
        </h1>
        <p>
          {{ word.definition }}
          <button mat-icon-button (click)="toggleInput()" *ngIf="!showInput">
            <mat-icon>edit</mat-icon>
          </button>
        </p>
        <div class="col">
          <div>
            <h2>Translations
              <button mat-icon-button (click)="toggleInput()" *ngIf="!showInput">
                <mat-icon>add</mat-icon>
              </button>
              <ng-container *ngIf="showInput">
                <mat-form-field appearance="fill">
                  <input matInput placeholder="Введите слово" [(ngModel)]="newItem">
                </mat-form-field>
                <button mat-button (click)="addTranslation()">Add</button>
              </ng-container>
            </h2>
          </div>
          <ng-container *ngFor="let translation of word.translations">
            <p>{{ translation.translation }}&nbsp; <button mat-button (click)="deleteTranslation(translation.id)">delete</button> </p>
          </ng-container>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row align-items-start">
        <div class="col">
          <tr>Antonyms</tr>
          <ng-container *ngFor="let antonym of word.antonyms">
            <a (click)="routeAnotherWord(antonym, 'EN')">{{ antonym }}&nbsp;</a>
          </ng-container>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row align-items-start">
        <div class="col">
          <tr>Synonyms</tr>
          <ng-container *ngFor="let synonym of word.synonyms">
            <a [routerLink]="['/word']" [queryParams]="{ data: synonym, lang: 'EN' }">{{ synonym }}&nbsp;</a>
          </ng-container>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row align-items-start">
        <div class="col">
          <tr>Derived words</tr>
          <ng-container *ngFor="let derive of word.derived">
            <a [routerLink]="['/word', wordLang, derive]" (click)="getWord(derive, wordLang)">{{ derive }}</a>
          </ng-container>
        </div>
      </div>
    </div>
    <a [routerLink]="['/word', wordLang, word.mainWord]" (click)="getWord(word.mainWord, wordLang)">{{ word.mainWord }}</a>
  </div>
</div>
