<div class="card my-5">
  <div class="card-body">
    <div class="container">
      <div class="row align-items-start">
        <h1>
          <img src="assets/flags/{{wordLang}}.jpg" alt="language" style="width: 20px">
          {{ word.text }}
          <span *ngIf="word.formedBy">
            <a [routerLink]="['/word', wordLang, word.formedBy.text]" (click)="getWord(word.formedBy.text, wordLang)">{{ word.formedBy.text }}</a>
          </span>
          <a mat-button (click)="playWord(word.text)">
            <mat-icon>volume_up</mat-icon>
          </a>
          <a mat-button (click)="delete(word.id)">
            <mat-icon>delete</mat-icon>
          </a>
        </h1>
        <p>
          <ng-container *ngFor="let transcription of word.transcriptions; let last = last">
            <b>{{ transcription.type }}</b> {{ transcription.transcription }} <span *ngIf="!last">|&nbsp;</span>
          </ng-container>
        </p>
        <div class="col">
          <div class="word-usages">
            <ng-container *ngFor="let wordUsage of word.wordUsages">
              <p>({{ wordUsage.partOfSpeech }}) {{ wordUsage.level }}
              <a mat-button (click)="learnWord(wordUsage.id)">
                <mat-icon>add</mat-icon>
              </a>
              </p>
              <p>{{ wordUsage.definition }}</p>
              <p>
                <ng-container *ngFor="let translation of wordUsage.translations; let last = last">
                  {{ translation }} <span *ngIf="!last">,&nbsp;</span>
                </ng-container>
              </p>
              <hr>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
    <div class="container" *ngIf="word.antonyms && word.antonyms.length">
      <div class="row align-items-start">
        <div class="col">
          Antonyms:
          <ng-container *ngFor="let antonym of word.antonyms; let last = last">
            <a [routerLink]="['/word', wordLang, antonym.text]" (click)="getWord(antonym.text, wordLang)">{{ antonym.text }}</a><span *ngIf="!last">,&nbsp;</span>
          </ng-container>
        </div>
      </div>
    </div>
    <div class="container" *ngIf="word.synonyms && word.synonyms.length">
      <div class="row align-items-start">
        <div class="col">
          Synonyms:
          <ng-container *ngFor="let synonym of word.synonyms; let last = last">
            <a [routerLink]="['/word', wordLang, synonym.text]" (click)="getWord(synonym.text, wordLang)">{{ synonym.text }}</a><span *ngIf="!last">,&nbsp;</span>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>
