<div class="card my-5">
  <div class="card-body d-flex justify-content-center">
    <ng-container *ngIf="!isLoggedIn">
      <a href="http://localhost:9000/oauth2/authorization/my-client">google</a>
      <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate style="width: 70%">
        <mat-form-field style="width: 100%">
          <mat-label>Username</mat-label>
          <input matInput name="username" [(ngModel)]="form.username" required minlength="3" maxlength="20" #username="ngModel">
          <mat-error *ngIf="username.errors?.['required']">Username is required</mat-error>
          <mat-error *ngIf="username.errors?.['minlength']">Username must be at least 3 characters</mat-error>
          <mat-error *ngIf="username.errors?.['maxlength']">Username must be at most 20 characters</mat-error>
        </mat-form-field>
        <mat-form-field style="width: 100%">
          <mat-label>Password</mat-label>
          <input type="password" matInput name="password" [(ngModel)]="form.password" required minlength="6"
                 maxlength="20" #password="ngModel">
          <mat-error *ngIf="password.errors?.['required']">Password is required</mat-error>
          <mat-error *ngIf="password.errors?.['minlength']">Password must be at least 6 characters</mat-error>
          <mat-error *ngIf="password.errors?.['maxlength']">Password must be at most 20 characters</mat-error>
        </mat-form-field>
        <button mat-stroked-button style="width: 100%">Log in</button>
        <ng-container *ngIf="f.submitted && isLoginFailed">
          <div class="alert alert-danger mt-3" role="alert">
            Login failed: {{ errorMessage }}
          </div>
        </ng-container>
      </form>
    </ng-container>
    <ng-container *ngIf="isLoggedIn">
      <div class="alert alert-success" style="width: 100%">Logged success.</div>
    </ng-container>
  </div>
</div>
