<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
    <title>Please Log In</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div class="login-page">
    <div class="form">
        <h1>Spring Boot Tutorial</h1>
        <h2>Please Log In</h2>
        <div class="error" th:if="${param.error}">
            Invalid username and password.</div>
        <div class="error" th:if="${param.logout}">
            You have been logged out.</div>
        <form  class="login-form" th:action="@{/login}" method="post">
            <div>
                <input type="text" name="username" placeholder="Username"/>
            </div>
            <div>
                <input type="password" name="password" placeholder="Password"/>
            </div>
            <input class="button" type="submit" value="Log in" />
        </form>
<!--        <a class="w-100 btn btn-light btn-block bg-white" href="/oauth2/authorization/google-idp" role="link" style="margin-top: 10px">-->
<!--            <img src="/img/google.png" th:src="@{/assets/img/google.png}" width="20" style="margin-right: 5px;" alt="Sign in with Google">-->
<!--            Sign in with Google-->
<!--        </a>-->
        <a th:href="@{/oauth2/authorization/google}">Sign in with Google</a>
    </div>
</div>
</body>
</html>