<div class="card my-5">
  <div class="card-body">
    <ng-container *ngIf="visible">
      <h2>Result</h2>
      <div class="example-label-container">
        <label id="example-name-label" class="example-name-label">Value</label>
        <label class="example-value-label">{{slider.value}}</label>
      </div>
      <mat-slider max="100" min="10" step="1" [disabled]="checked">
        <input matSliderThumb [(ngModel)]="trainRequest.quantity" #slider="ngModel">
      </mat-slider>
      <section>
        <mat-checkbox [(ngModel)]="checked">All</mat-checkbox>
      </section>
      <mat-form-field>
        <mat-label>Language</mat-label>
        <mat-select [(value)]="trainRequest.language" (selectionChange)="changeLanguage($event)">
          <mat-option *ngFor="let language of langs" [value]="language">{{ language }}</mat-option>
        </mat-select>
      </mat-form-field>
      <a type="button" mat-stroked-button class="btn btn-outline-dark" (click)="startTrain()">Start</a>
    </ng-container>
    <ng-container *ngIf="!visible">
      <div class="d-flex justify-content-between align-items-center">
        <div>
          <div class="container">
            <div class="button-wrapper">
              <a type="button" (click)="toggleTranslations()" class="action-button">
                <p class="button-content">
                  <mat-icon>{{ translationsVisible ? 'visibility' : 'visibility_off' }}</mat-icon>
                  <label>translations</label>
                </p>
              </a>
            </div>
            <div class="button-wrapper">
              <a type="button" (click)="toggleDefinition()" class="action-button">
                <p class="button-content">
                  <mat-icon>{{ definitionVisible ? 'visibility' : 'visibility_off' }}</mat-icon>
                  <label>definition</label>
                </p>
              </a>
            </div>
          </div>
        </div>
        <div>
          <label class="text-danger">Mistakes: {{ mistakes }}</label>
          <label class="text-success">Streak: {{ streak }}</label>
        </div>
      </div>
      <div class="text-center">
        <label class="text-white word-stats">{{ id }} / {{ words.length }}</label>
        <div class="translations" [hidden]="translationsVisible">
          <mat-label class="text-white">{{ words[id].translations }}</mat-label>
        </div>
        <div class="definition" [hidden]="definitionVisible">
          <mat-label class="text-white">{{ words[id].definition }}</mat-label>
        </div>
        <div>
          <mat-form-field class="custom-mat-form-field mt-4">
            <input matInput [(ngModel)]="inputValue" (keyup.enter)="onInputKeyUp()">
          </mat-form-field>
        </div>
        <div *ngIf="alertVisible" class="alert alert-warning mx-auto d-block mt-3" role="alert" style="width: 300px;">
          Wrong
          <a type="button" (click)="translateVisible = true" [hidden]="translateVisible">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye"
                 viewBox="0 0 16 16">
              <path
                d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8M1.173 8a13 13 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5s3.879 1.168 5.168 2.457A13 13 0 0 1 14.828 8q-.086.13-.195.288c-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5s-3.879-1.168-5.168-2.457A13 13 0 0 1 1.172 8z"/>
              <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5M4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0"/>
            </svg>
          </a>
          <div *ngIf="translateVisible">
            {{ words[id].word }}
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>
