<div class="card my-5">
  <div class="card-body">
    <form>
      <div class="d-flex flex-wrap justify-content-between">
        <div>
          <mat-form-field>
            <mat-label>Language</mat-label>
            <mat-select [(value)]="selectedLang" (selectionChange)="changeLanguage($event)">
              <mat-option *ngFor="let language of langs" [value]="language">{{ language }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div>
          <mat-button-toggle-group name="favoriteColor" aria-label="Favorite Color">
            <mat-button-toggle value="green" (click)="changeStatus(true)">Learning</mat-button-toggle>
            <mat-button-toggle value="green" (click)="changeStatus(false)">Learned</mat-button-toggle>
          </mat-button-toggle-group>
        </div>
        <div>
          <mat-form-field>
            <mat-label>Filter</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
          </mat-form-field>
        </div>
      </div>
    </form>
    <table mat-table class="mat-elevation-z8" [dataSource]="dataSource">
      <ng-container matColumnDef="word">
        <th mat-header-cell *matHeaderCellDef> Word</th>
        <td mat-cell *matCellDef="let word">
          <a [routerLink]="['/word', 'en', word.word]">{{ word.word }}</a>
        </td>
      </ng-container>
      <ng-container matColumnDef="translations">
        <th mat-header-cell *matHeaderCellDef> Translation</th>
        <td mat-cell *matCellDef="let word">
          <ng-container *ngFor="let translation of word.translations; let last = last">
            {{ translation }}{{ !last ? ', ' : '' }}
          </ng-container>
        </td>
      </ng-container>
      <ng-container matColumnDef="star">
        <th mat-header-cell *matHeaderCellDef>&nbsp;</th>
        <td mat-cell *matCellDef="let word">
          <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="delete(word.id)">
              <mat-icon>delete</mat-icon>
              <span>Delete</span>
            </button>
          </mat-menu>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
      </tr>
    </table>
    <mat-paginator #paginator [pageSizeOptions]="[10, 25, 50, 100]"/>
  </div>
</div>
